/* Cart.css */

/* Overall layout and container styling */
.cart-wrapper {
  padding: 20px;
  height: max-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.cart-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for individual cart items */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  gap: 20px;
}

.cart-item-details {
  display: flex;
  align-items: center;
  flex: 1; /* Take up remaining space */
}

.cart-item img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333; /* Darkened text color for better readability */
}

.cart-item-quantity {
  color: #777;
  margin-bottom: 8px;
}

.cart-item-price {
  font-weight: bold;
  color: #0fa34d; /* Green color for price */
  margin-left: auto;
  margin-right: 20px;
}

/* Styling for the summary section */
.cart-summary {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.cart-summary h3 {
  margin-bottom: 15px;
}

.cart-summary-items {
  display: flex;
  flex-direction: column;
}

.cart-summary-item {
  display: flex;
  justify-content: space-between;
}

.cart-summary-item p {
  margin: 0;
}

.cart-summary-name {
  flex: 2;
}

.cart-summary-quantity {
  flex: 1;
}

.cart-summary-price {
  flex: 1;
  text-align: right;
}

.cart-total {
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: #139b4c; /* Green color for total */
}


/* Styling for buttons */
button {
  padding: 12px 24px;
  background-color: #f5b43b; /* Blue color for buttons */
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
  text-transform: uppercase; /* Convert text to uppercase */
}

button:hover {
  background-color: #ffb300; /* Darker shade of blue on hover */
}

/* Add this to your Cart.css file */

.cart-item-rating {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.cart-item-rating .star {
  color: #ff9900;
  margin-right: 2px;
}
