/* ProductCard.css */

.product-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-info {
  text-align: center;
}

.product-info h3 {
  margin-bottom: 5px;
  font-size: 16px; /* Adjust font size for smaller screens */
}

.price {
  margin-bottom: 5px;
  font-size: 14px; /* Adjust font size for smaller screens */
  color: #333;
}

.rating {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 14px; /* Adjust font size for smaller screens */
}

.rating .star {
  color: #ff9900;
  margin-right: 2px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Make buttons take full width on smaller screens */
}

.add-to-cart-btn,
.buy-now-btn {
  flex: 1; /* Make buttons take equal space */
  margin: 5px; /* Add spacing between buttons */
  padding: 8px 12px;
  font-size: 14px; /* Adjust font size for smaller screens */
}

.buy-now-btn {
  background-color: #00aaff;
}

.add-to-cart-btn:hover,
.buy-now-btn:hover {
  opacity: 0.9;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .product-card {
    width: 100%; /* Make product card take full width on smaller screens */
  }
}
